.header-bar {
  width: 100%;
  height: 50px;
  background-color: #0077ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
  padding: 10px 15px;
  color: white;
}

.search-bar {
  display: flex;
  margin-right: 20px;
}

.search-input {
  height: 30px;
}

.search-btn {
  width: 30px;
  height: 30px;
  background-color: #dfdfdf;
  text-align: center;
  border: none;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #ededed;
}